<app-header></app-header>
<div class="container">
  <router-outlet></router-outlet>
</div> 

<!-- <h1>TinyMCE 5 Angular Demo</h1>
<editor
  apiKey="u0eog1hcputib65bhuf63vh2mudkoemqvakn6qqcqfsotg0b"
  initialValue="<p>Initial content of the editor</p>"
  [init]="{
    height: 500,
    menubar: false,
    plugins: [
      'advlist autolink lists link image charmap print',
      'preview anchor searchreplace visualblocks code',
      'fullscreen insertdatetime media table paste',
      'help wordcount'
    ],
    toolbar:
      'undo redo | formatselect | bold italic | \
      alignleft aligncenter alignright alignjustify | \
      bullist numlist outdent indent | help'
  }"
>
</editor> -->