<div class="container mt-5 mb-5"  *ngIf="user">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-6" *ngIf="!loading">
            <div tabindex="0" class="card userInfo" *ngFor="let post of posts; let index = index" (click)="getOnePost(post)">
                <div class="d-flex justify-content-between p-2 px-2">
                    <div class="d-flex flex-row align-items-center"> 
                        <img alt="Photo profil de l'auteur de la publication" [src]="user.profilePic ? user.profilePic : '../../../assets/noprofilepic.jpg'" width="50" class="rounded-circle profilePic">
                        <div class="d-flex flex-column ml-2"> 
                            <span class="font-weight-bold">{{post.User.username | titlecase}}</span> 
                            <small class="mr-2">Publié le {{post.createdAt | date: 'dd/MM/yyyy'}}</small> 
                        </div>
                    </div>
                </div> 
                <img [src]="post.photo" class="img-fluid">
                <div class="p-2">
                    <p class="text-justify" [innerHtml]="post.textPost | dompurify"></p>
                    <hr>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-row icons d-flex align-items-center">
                            <fa-icon class="iconThumbs" [icon]="faThumbsUp" [ngClass]="{'onLike': post.likes === 1}"></fa-icon>
                            <fa-icon class="iconThumbs" [icon]="faThumbsDown" [ngClass]="{'onDislike': post.likes === -1}"></fa-icon>
                            <fa-icon class="iconThumbs" [icon]="faCommentAlt"></fa-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<pre>{{ posts | json }}</pre>
