.post {
    border-radius: 10px;
    margin: auto;
    width: 650px;
    margin-bottom: 30px;
    padding: 15px;
    background-color: rgb(212 217 222 / 70%);
    justify-content: center;
    text-align: center;
    display: grid;
}

.postImg {
    max-width: 100%;
    /* display: block; */
}
