body{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -10%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
h5{
    text-align: center;
}

.row:last-of-type {
    justify-content: center;
  }
input:last-of-type {
    width: auto;
}

#profileP {
    cursor: pointer;
    margin: 0;

}

.btn {
    max-width: 205px;
}

input:focus, div:focus {
    outline: 1px dotted black;
}

@media screen and (max-width: 769px) {
    .profile-head {
        text-align: center;
    }
}
