<div class="row">
    <div class="col-xs-12">
      <h2>Vos publications</h2>
      <div class="list-group">
        <button
          class="list-group-item"
          *ngFor="let post of posts; let i = index"
          (click)="onViewPost(i)">
          <h3 class="list-group-item-heading">
            <img style="max-width:400px;" *ngIf="post.photo" [src]="post.photo">
            {{ post.title }}
            <button class="btn btn-default pull-right" (click)="onDeletePost(post)">
              <span class="glyphicon glyphicon-minus"></span>
            </button>
          </h3>
          <p class="list-group-item-text">{{ post.author }}</p>
        </button>
      </div>
      <button class="btn btn-primary" (click)="onNewPost()">Nouvelle publication</button>
    </div>
  </div>