p {
  margin: 10px 0;
}

.card {
  border: none;
  margin-bottom: 3rem;
  border-radius: 7px;
}

.profilePic {
  margin-right: 10px;
}

hr {
  color: #a09c9c;
  margin-top: 4px;
  margin-bottom: 8px
}

.muted-color {
  color: #a09c9c;
  font-size: 13px;
}

.icons i {
  font-size: 25px;
}

.rounded-image {
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}

.name {
  font-weight: 600;
}

.comment-text {
  font-size: 12px;
}

.status small {
  margin-right: 10px;
  color: blue;
}

.form-control {
  border-radius: 26px;
}

.comment-input {
  position: relative;
}

.fonts {
  position: absolute;
  right: 13px;
  top: 8px;
  color: #a09c9c;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #8bbafe;
  outline: 0;
  box-shadow: none;
}

#iconTrash {
  font-size: 20px;
  cursor: pointer;
  color: rgb(30 31 31);
}

.iconThumbs {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 20px;
  color: rgb(77 78 84);
  cursor: pointer;
}

#iconEdit {
  color: black;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
}

.onLike {
  color: green !important;
}

.onDislike {
  color: red !important;
}

.comments {
  margin-top: 10px;
}

input:focus,
div:focus,
a:focus {
  outline: 1px dotted black;
}
