<nav class="navbar navbar-default">
    <div class="container-fluid">
      <a routerLink="posts">
        <img class="float-left" src="../../assets/logoGroupo.png" alt="logo entreprise Groupomania">
      </a>
      
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active" *ngIf="!isAuth">
          <a routerLink="auth/signup">Créer un compte</a>
        </li>
        <li routerLinkActive="active" *ngIf="!isAuth">
          <a routerLink="auth/signin">Connexion</a>
        </li>
        <li routerLinkActive="active">
          <a (click)="newPost()"
          style="cursor:pointer"
          *ngIf="isAuth">Nouvelle publication</a>
        </li>
        <li routerLinkActive="active">
          <a *ngIf="isAuth">Profil</a>
        </li>
        <li>
            <a (click)="onSignOut()"
               style="cursor:pointer"
               *ngIf="isAuth">Déconnexion</a>
        </li>
      </ul>
    </div>
  </nav>
