/* BODY */

body {
    width: 100%;
    min-height: 100vh;
    display: block;
    position: relative;
    margin: 0 auto;
    z-index: 0;
  }
  body::after {
    background: url(../src/assets/coffee-2847957_1920.png);
    content: "";
    opacity: 0.9;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;   
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  

  /* FORMULAIRE AUTH + NEW POST */

  .formContent {
    border-radius: 10px;
    text-align: center;
    /* padding: 30px 10px; */
    padding: 0 15px 30px 15px;
    margin-top: 5%;
    /* background-color: rgba(255,255,255,.7); */
    background-color: rgb(212 217 222 / 70%);
    /* backdrop-filter: blur(5px); */
}

.formLabel {
    text-align: left;
    margin-bottom: 10px;
}

.formContent input {
    max-width: 75%;
    margin: auto;
    height: 50px
}

.formContent h2 {
    margin-bottom: 50px;
}

.btn {
    padding: 15px 22px;
    font-size: 16px;
    margin-top: 20px;
}


/* .form-control {
    border-radius: 26px
} */
