/* BODY */
body {
    width: 100%;
    min-height: 100vh;
    display: block;
    position: relative;
    margin: 0 auto;
    z-index: 0; 
  }
  body::after {
    background: url(../src/assets/coffee-2847957_1920.png); 
    content: "";
    opacity: 0.9;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;   
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  

  /* FORMULAIRE AUTH + NEW POST */

  .formContent {
    border-radius: 10px;
    text-align: center;
    padding: 15px 30px;
    background-color: rgb(228 228 228 / 80%); 
    margin: 40px auto 0;
}

.formLabel {
    text-align: left;
}

.formContent input {
    max-width: 75%;
    margin: 0 auto 10px;
    height: 50px;
    border-radius: 26px;
}

.formContent h2 {
    padding: 20px 0;
}

.btn {
    padding: 10px 15px!important;
    font-size: 16px;
    margin-top: 20px;
    color: white!important;
    background-color: rgb(54 69 156)!important;
    border-color: rgb(54 69 156)!important;
}

@media screen and (max-width: 390px) {
    .formContent {
        padding: 5px;
  }
}