.navbar {
    padding: 25px 40px;
    background-color: white;
}

.navbar a {
    padding: 15px 0 3px 0;
    margin-left: 20px;
    color: rgb(0 0 0 / 66%)!important;
}

.navbar a:hover {
    color: rgb(0 0 0)!important;
}

/* .navbar-nav > .active > a {
    border-bottom: 1px solid gray;
    background-color: white!important;
} */

nav img {
    width: 185px;
    margin-top: 5px;
}

fa-icon {
    font-size: 22px;
    padding: 6px;
    color: rgb(21 19 19 / 72%);
}
fa-icon:hover {
    color: rgb(0 0 0)!important;
}

.dropdown-menu {
    min-width: auto;
}

.dropdown-menu .dropdown-item {
    padding: 4px 16px;
    margin-left: 0;
    cursor: pointer;
}

ul {
    margin-right: 25px;
    position: relative;
}

ngb-toast {
    position: absolute;
    right: -50px;
    border: 1px solid gray;
    background: white;
    margin-top: 10px;
    width: 250px;
    top: 40px;
    padding: 5px;
    border-radius: 5px;
}

.notifications-item {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    cursor: pointer
}

.notifications-item:hover {
    background-color: #eee
}

.notifications-item img {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 9px;
    border-radius: 50%;
    margin-top: 2px
}

.notifications-item .text p {
    color: #777;;
    font-size: 12px;
    margin: 0;
}

.notifBorder{
    margin: 0;
    position: absolute;
    top: -12px;
    left: 116px;
    color: gray;
}

#faCircle {
    color: red;
    font-size: 8px;
    position: absolute;
    top: 6px;
    right: -4px;
}
.notif {
    cursor: pointer;
    position: relative;
}

a:focus, li:focus {
    outline: 1px dotted black;
}

@media screen and (max-width: 545px) {
    .navbar>.container-fluid {
      flex-direction: column;
    }
    ul {
        margin-right: 0;
    }
  }

  @media screen and (max-width: 400px) {
    .navbar {
        padding: 10px 0;
    }
  }

  