<div class="row">
    <div class="col-sm-8 col-sm-offset-2 formContent">
      <div id="xBtn" routerLink="posts">x</div>
      <h2>Ajouter une publication</h2>
      <form [formGroup]="postForm" (ngSubmit)="onSavePost()">
        <div class="form-group">
          <textarea id="synopsis"
                    class="form-control" formControlName="textPost" placeholder="Ajouter un texte ici">
          </textarea>
        </div>
        <div id="formNewPost">
        <input type="file"
                   class="form-control" accept="image/*">
            <!-- <p class="text-success" *ngIf="fileUploaded">Fichier chargé !</p> -->
        <button class="btn btn-primary newPost" 
                [disabled]="postForm.invalid"
                type="submit">Publier
        </button>
        </div>
        
      </form>
    </div>
  </div>