textarea.form-control {
    min-height: 200px;
    margin-bottom: 20px;
}

#formNewPost {
    display: flex;
    justify-content: space-between;
}

#xBtn {
    width: 28px;
    font-size: 18px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: rgb(54 69 156)!important;
    color: white;
    cursor: pointer;
}

#xBtn p {
    margin: 0;
    position: relative;
    top: -1.5px;
}

.formContent {
    position: relative;
}

button:focus, div:focus {
    outline: 1px dotted black;
}