<div class="col-sm-8 formContent">
	<div tabindex="0" id="xBtn" routerLink="/posts"><p>x</p></div>
	<h2>Exprimez-vous...</h2>
	<form [formGroup]="postForm" (ngSubmit)="onSavePost()">
		<div class="form-group">
			<editor
				apiKey="u0eog1hcputib65bhuf63vh2mudkoemqvakn6qqcqfsotg0b"
				[init]="{
					menubar: false,
					plugins: [
					'emoticons advlist autolink lists link image charmap print preview anchor',
					'searchreplace visualblocks code fullscreen',
					'insertdatetime media table paste code help wordcount'
					],
					toolbar:
					'fontselect | emoticons | bullist | bold italic strikethrough backcolor'
				}"
				class="form-control" formControlName="textPost" 
			></editor>
		</div>
		<div id="formNewPost">
			<input #fileInput 
			style="display: none" 
			type="file" (change)="detectFiles($event.target.files)"
			class="form-control">

			<button 
			class="btn" 
			type="button" 
			aria-label="Bouton choisir une image"
			(click)="fileInput.click()">
			Choisir une image</button>
			<img [src]="photo" *ngIf="photo" style="max-height: 100px;display:block;margin-top:10px">

			<button class="btn" 
			[disabled]="postForm.invalid"
			aria-label="Bouton publier"
			type="submit">Publier
			</button>
		</div>
	</form>
</div>
